.h3Invest {
  font-family: RobotoThin;
  font-size: 65px;
  font-style: inherit;
}

.h5Invest {
  padding-top: 20px;
  font-family: RobotoThin;
  font-size: 20px;
  font-style: inherit;
}

.upperGrid {
  padding-top: 5px;
  text-align: right;
}

.tbInvest {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: RobotoThin;
  font-size: 1px;
}

.pInvest {
  text-align: left;
  font-family: RobotoThin;
  font-size: 20px;
}

.cardDesc {
  width: 80%;
  text-align: justify;
  margin-left: 10px;
}

.progressBar {
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
