.navBarTitle {
  font-family: BebasNeue;
  color: white;
  font-size: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.border-right-op {
  border-right: solid rgba(255, 249, 249, 0.418);
  height: 40px;
}
.border-right-most {
  border-right: solid rgba(255, 249, 249, 0.418);
  height: 39px;
}
.rightBox {
  width: 100%;
}
.form-control {
  border: none;
  background: transparent;
  outline: none;
  width: 100% !important;
}
.form-inline:focus {
  border: none;
  outline: none;
  box-sizing: none;
}
.form-control:focus {
  border: none;
  background: transparent;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.imgSearch {
  height: 24px;
  width: 24px;
  opacity: 0.418;
}

.searchBarStyle {
  width: 40%;
}
